<style>
    .SearchTable {
        width: 100%;
        border: none;
    }

        .SearchTable tr td {
            padding: 0.7rem;
            line-height: 1.6;
        }

    .errorInfo {
        margin-top: 5px;
        margin-left: 5px;
        float: left;
    }

    .tab-content p {
        color: red;
    }
</style>
<div>
    <div class="tab-content">
        <div class="panel panel-default">
            <div class="panel-heading">菜单管理</div>
            <div class="panel-body" style="padding:5px 10px 10px 10px;">
                <div style="float:left;width:30%;border-right:1px solid #EEE; min-height:700px;overflow:auto;padding-right:10px;">
                    <div class="panel-body">
                        <div data-angular-treeview="true"
                             data-tree-id="tree"
                             data-tree-model="resultSet"
                             data-node-id="roleId"
                             data-node-label="roleName"
                             data-node-children="children"
                             data-show-trash="false">
                        </div>
                    </div>
                </div>
                <div style="float:left;width:70%;min-height:700px;overflow:auto;padding-left:10px;padding-top:10px;">
                    <form name="tableForm" ng-submit="saveNode(tableForm.$valid)" novalidate>
                        <button type="button" class="btn btn-primary" ng-click="addNode();">新增</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                        <button type="button" class="btn btn-primary" ng-click="cancelNode(selectedNode);">取消</button>
                        <button type="button" class="btn btn-primary" ng-click="delNode(selectedNode);">删除</button>
                        <table class="SearchTable" id="formTable">
                            <tr style="display:none;">
                                <td>
                                    id：
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="id" name="id" style="width:300px;"
                                           ng-model="selectedNode.id">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:150px;">
                                    菜单名称：
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="菜单名称" style="width:300px;float:left;" ng-model="selectedNode.name" required
                                           ng-maxlength="20">
                                    <p ng-show="tableForm.name.$error.required" class="errorInfo">菜单名称不可为空</p>
                                    <p ng-show="tableForm.name.$error.maxlength" class="errorInfo">菜单名称长度至多为20位</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    上层菜单：
                                </td>
                                <td>
                                    <select class="form-control" id="fatherId" name="fatherId" placeholder="上层菜单" style="width:300px;float:left;" ng-model="selectedNode.fatherId">
                                        <option value=""></option>
                                        <option ng-repeat="r in resultSet" value="{{r.roleId}}">{{r.roleName}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    URL：
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="url" name="url" placeholder="url"
                                           style="width:300px;float:left;" ng-model="selectedNode.url" required>
                                    <p ng-show="tableForm.url.$error.required" class="errorInfo">URL不可为空</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    状态：
                                </td>
                                <td>
                                    <select class="form-control" name="status" style="width:300px;float:left;" ng-model="selectedNode.status" required>
                                        <option value="1">有效</option>
                                        <option value="0">无效</option>
                                    </select>
                                    <p ng-show="tableForm.status.$error.required" class="errorInfo">状态不可为空</p>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>