<style>
    .SearchTable {
        width: 100%;
        border: none;
    }

        .SearchTable tr td {
            padding: 0.7rem;
            line-height: 1.6;
        }

    .errorInfo {
        margin-top: 5px;
        margin-left: 5px;
        float: left;
    }

    .tab-content p {
        color: red;
    }

    .ctl {
        table-layout: fixed;
    }

        .ctl td {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 2px;
        }

    .breadcrumb > li + li:before {
            content: "\00a0";
    }
</style>



<html>
<body>
    <div class="row ng-scope">
        <ol class="breadcrumb">
            <li class="active">考题编辑</li>
            <li style="float:right;cursor:pointer;"> <i class="fa fa-reply" ng-click="back()">返回</i></li>
        </ol>
    </div>
    <div>
        <div class="tab-content">
            <div class="panel panel-default">
                <div style="float:left;width:70%;min-height:700px;overflow:auto;padding-left:10px;padding-top:10px;">
                    <form name="tableForm" ng-submit="saveNode(tableForm.$valid)" novalidate>
                        <table class="SearchTable" id="formTable" ng-model="selectedNode">
                            <tr style="display:none;">
                                <td style="width:150px;">
                                    id：
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="id" name="id" style="width:300px;" ng-model="selectedNode.id">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:150px;">
                                    标题*：
                                </td>
                                <td>
                                    <input type="text" ng-disabled="edit" class="form-control" id="name" name="name" placeholder="标题" style="width:300px;float:left;" ng-model="selectedNode.name" required ng-maxlength="50">
                                    <p ng-show="tableForm.name.$error.required" class="errorInfo">标题不能为空</p>
                                    <p ng-show="tableForm.name.$error.maxlength" class="errorInfo">标题长度至多为50位</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    病种大类*：
                                </td>
                                <td>
                                    <select class="form-control" id="typeid" name="typeid" style="width:300px;float:left;" ng-model="selectedNode.typeid" required>
                                        <option ng-repeat="type in tabs" value="{{type.id}}">{{type.name}}</option>
                                    </select>
                                    <p ng-show="tableForm.typeid.$error.required" class="errorInfo">病种大类不能为空</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    内容*：
                                </td>
                                <td>

                                    <textarea id="editor" cols="20" rows="2" class="ckeditor" name="description" style="width:400px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    选项：
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    A*：
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="A" name="A" placeholder="选项A" style="width:300px;float:left;" ng-model="selectedNode.A" required>
                                    <p ng-show="tableForm.A.$error.required" class="errorInfo">选项A不能为空</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    B*：
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="B" name="B" placeholder="选项B" style="width:300px;float:left;" ng-model="selectedNode.B" required>
                                    <p ng-show="tableForm.B.$error.required" class="errorInfo">选项B不能为空</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    C*：
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="C" name="C" placeholder="选项C" style="width:300px;float:left;" ng-model="selectedNode.C" required>
                                    <p ng-show="tableForm.C.$error.required" class="errorInfo">选项C不能为空</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    D*：
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="D" name="D" placeholder="选项D" style="width:300px;float:left;" ng-model="selectedNode.D" required>
                                    <p ng-show="tableForm.D.$error.required" class="errorInfo">选项D不能为空</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    E*：
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="E" name="E" placeholder="选项E" style="width:300px;float:left;" ng-model="selectedNode.E" required>
                                    <p ng-show="tableForm.E.$error.required" class="errorInfo">选项E不能为空</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    答案*：
                                </td>
                                <td>
                                    <select class="form-control" name="answer" style="width:300px;float:left;" ng-model="selectedNode.answer" required>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                        <option value="E">E</option>
                                    </select>
                                    <p ng-show="tableForm.answer.$error.required" class="errorInfo">答案不能为空</p>
                                </td>
                            </tr>
                        </table>
                        <div style="text-align:center;">
                            <button type="submit" class="btn btn-primary btn" ng-show="!view">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>